- if objects.total_count > @project.per_page.split(';').map(&:to_i).min
  .pagination-wr
    = paginate objects

    .per-page
      - options = @project.per_page.split(';').map { |t| [t, t] }

      = select_tag 'per_page', options_for_select(options, objects.limit_value),
        class: 'form-control', style: 'display: inline-block;'
      = t('kaminari.per_page')

    .clear

